<a href="https://colab.research.google.com/github/Rak28/Colab-Programs/blob/master/PYTHN_EXERCISE_ON_DICTIONARY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a Python program that creates a Dictionary of area of  rectangle and its perimeter.

In [0]:
length  =int(input("Enter length of the rectangle: "))
breadth  =int(input("Enter breadth of the rectangle: "))
rectangle = {"Area":length * breadth,"Perimeter":2 * (length + breadth)}
print(rectangle["Area"])
print(rectangle["Perimeter"])

2.Write a Python program that creates two Dictionaries. One that stores conversion values from meters to centimeters and the other that stores values from centimeters to meters.

In [0]:
m=int(input("Enter distance in meter:"))
cm = int(input("Enter distance in centimeters:"))
meter_to_centimeters = {m:m*100}
centimeters_to_meters = {cm:cm/100}
print(meter_to_centimeters[m])
print(centimeters_to_meters[cm])

3) Write a Python program that creates a Dictionary of products purchased and their MRPs.
Calculate the bill and display to the customer.

In [0]:
products = {"Coconut":200,"Pen":10,"Pencil":5,"Chair":599,"Mobile":100000}
print(products)

4) Write a Python program that uses a dictionary to return the name of the employee of an organization when his/her project name is given.

In [0]:
employee = {"H.O.U.N.D":"Rakshith","A.S.T.R":"Rkfdsl"}
print(employee["A.S.T.R"])

5) Write a Python program to iteration over Dictionary.

In [0]:
dict = {1:"One",2:"TWO",3:'THREE',4:'FOUR',5:'FIVE'}
for i,j in dict.items():
    print(i,j)

6) Write a Python program to add item(s) in a Dictionary.

In [0]:
dict = {1:1,2:2,3:3,4:4,5:5}
dict.update({6:6,7:7})
print(dict)

7) Write a Python program to illustrate the use of del and clear () statement in a Dictionary.

In [0]:
dic = {1:1,2:2,3:3,4:4,5:5}

print(dic)

del dic[1]

dic.clear()
print(dic)

8) Write a Python program to remove item(s) randomly using popitem () from a Dictionary.

In [0]:
dict = {1:1,2:2,3:3,4:4,5:5}

print(dict)

dict.popitem()
print(dict)

9) Write a Python program to count the numbers of characters in the string and store them in a dictionary data structure.

In [0]:
string = "Rakshith"
len = len(string)
str_dict = {}
for i in range(len):
    str_dict[i] = string[i]
print(str_dict)

10) Write a Python program to find maximum and the minimum value in a Dictionary.

In [0]:
dic = {1:1,2:2,3:3,4:4,5:5,6:6}
print("max =",max(dic))
print("min =",min(dic))

11) Write a Python program that has dictionary of names of  subject name and a list of that three assessment marks. Create another dictionary from this dictionary that has name of the subjects and their total marks. Find out the top most scoring and  least scoring with total.

In [0]:
subject = {"Maths":[100,100,100],"Python":[100,100,100],"Biology":[98,97,96]}
print(subject)
subject_total ={}
for i, j in subject.items():
    subject_total[i] = sum(j)
print(subject_total)

12.Write a Python program that has a dictionary of subjects of first/second semester and their subject codes. Add another subject in the pre-defined dictionary, print all the items in the dictionary and try to print code for a subject does not exist. Set a default value prior to printing.

In [0]:
dic = {"Maths":"MA5151", "Engineering Physics":"PH5251"}
dic.update({"Python":"GE5251"})
print(dic)
print(dic.setdefault("English","None"))

{'Maths': 'MA5151', 'Engineering Physics': 'PH5251', 'Python': 'GE5251'}
None

13.Write a Python program that displays information about a student. Use nested dictionary to do the task

In [0]:
student = {"Name":"Rakshith","Marks":{"Subject1":100,"Subject2":100,"Subject13":100}}
print(student)

{'Name': 'Rakshith', 'Marks': {'Subject1': 100, 'Subject2': 100, 'Subject13': 100}}

14.Write a Python script  to concatenate following dictionaries to create a new one.
Sample Dictionary:

dic1= {1:10, 2:20}

dic2= {3:30, 4:40}

dic3={5:50,6:60}

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [0]:
dic1= {1:10, 2:20}
dic2= {3:30, 4:40}
dic3={5:50,6:60}
new_dictionary ={}
new_dictionary.update(dic1)
new_dictionary.update(dic2)
new_dictionary.update(dic3)
print(new_dictionary)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

15.Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

Sample Dictionary (n = 5):
Expected Output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [0]:
dic = {x:x*x for x in range(1,6)}
print(dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

16.Write a Python program to sort a list alphabetically in a dictionary.

In [0]:
dic = {1:"a",2:"b",3:'c',4:'d',5:'g',6:'q'}
print(sorted(dic.values()))

['a', 'b', 'c', 'd', 'g', 'q']

17.Write a Python program to get the top three items in a shop.
Sample data: 


```
{'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
```
Expected Output:

item4 55 item1 45.5 item3 41.3

In [0]:
dic = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
for i in range(3):
  print("item",i,dic.pop(max(dic)))

item 0 24
item 1 55
item 2 41.3

18.Write a Python program to sort Counter by value.
Sample data: 
```
{'Math':81, 'Physics':83, 'Chemistry':87}
``` 
Expected data: [('Chemistry', 87), ('Physics', 83), ('Math', 81)]

In [0]:
dic = {'Math':81, 'Physics':83, 'Chemistry':87}
print(sorted(dic.items()))

[('Chemistry', 87), ('Math', 81), ('Physics', 83)]

19.Write a Python program to match key values in two dictionaries.
Sample dictionary: 
```
{'key1': 1, 'key2': 3, 'key3': 2}, {'key1': 1, 'key2': 2}
```
Expected output: key1: 1 is present in both x and y.

In [0]:
dic1 = {'key1': 1, 'key2': 3, 'key3': 2}
dic2 = {'key1': 1, 'key2': 2}
print(dic1.items() & dic2.items(),"is present in both")

{('key1', 1)} is present in both

20.Write a Python script to sort (ascending and descending) a dictionary by value.

In [0]:
dic = {'key1': 1, 'key2': 3, 'key3': 2}
print(sorted(dic.values()))
print(sorted(dic.values(),reverse=True))

[1, 2, 3]
[3, 2, 1]